

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }



    header h1 {
        font-size: 36px;
    }

    header p {
        font-size: 24px;
    }

    .section {
        padding: 80px 0;
    }
    
    .card {
        border: none;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }
    
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }
    

    section h2 {
        font-size: 28px;
        text-align: center;
    }

 
    .experience-item {
        margin-bottom: 20px;
    }

    .experience-item h3 {
        font-size: 24px;
    }

    
    .skills .card {
        border: none;
        background: none;
        padding: 15px;
        transition: all 0.3s ease;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .skills .card:hover {
        transform: translateY(-5px);
    }

    .skills .card-title {
        font-size: 22px;
        font-weight: bold;
        color: #333;
    }

 
    .projects .card {
        border: none;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
    }

    .projects .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    .projects .card-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    .projects .card-text {
        color: #666;
        margin-bottom: 10px;
    }

    body {
        font-family: 'Roboto', sans-serif;
        line-height: 1.6;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #333; 
        color: #fff;
        text-align: center;
        padding: 80px 0;
    }
    
    footer {
        background-color: #343a40;
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }
    


    .carousel-item img {
        height: 500px;
        object-fit: cover;
    }

    .carousel-caption {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 5px;
    }
    .header-img {
        max-width: 200px;
        border-radius: 50%;
        transition: transform 0.3s ease;
    }
    
    .header-img:hover {
        transform: scale(1.1);
    }
    
    .navbar {
        transition: background-color 0.3s ease, padding 0.3s ease;
    }
    
    .navbar-nav .nav-link {
        font-size: 18px;
        padding: 10px 20px;
        transition: color 0.3s ease;
    }
    
    .navbar-nav .nav-link:hover {
        color: #777; 
    }
    