body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #f4f4f4, #e0e0e0);
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar, .footer {
    background-color: rgba(0, 0, 0, 0.9); /* negro con menos transparencia */
    color: #fff;
}

.navbar-brand {
    color: #ddd;
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7); /* blanco con transparencia */
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #fff;
}

.carousel-inner img {
    object-fit: cover;
    height: 500px; /* ajusta la altura del carrusel */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* negro con transparencia */
    padding: 15px;
    border-radius: 5px;
}

.project-section {
    padding-top: 80px; /* Ajuste para espacio del navbar */
    flex: 1; /* Ocupa todo el espacio disponible */
}

.project-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.project-info {
    font-size: 18px;
    color: #666;
}

.project-description {
    font-size: 16px;
    line-height: 1.8;
}

.btn-primary {
    background-color: rgba(119, 119, 119, 0.9); /* gris medio con transparencia */
    border-color: rgba(119, 119, 119, 0.9);
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: rgba(119, 119, 119, 1); /* gris medio sólido */
    border-color: rgba(119, 119, 119, 1);
}

.footer {
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.social-links a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ccc; /* gris claro al pasar el cursor */
}

.card-title {
    color: #555;
}

.card-text {
    color: #777;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-outline-secondary {
    color: #777;
    border-color: #777;
    transition: color 0.3s, border-color 0.3s;
}

.btn-outline-secondary:hover {
    color: #555;
    border-color: #555;
}
